@font-face {
    font-family: 'HelveticaNeueLTStd77BoldCondensed';
    src: url('/extension/shafie/design/shafie/fonts/helveticaneueltstd-bdcn.eot');
    src: url('/extension/shafie/design/shafie/fonts/helveticaneueltstd-bdcn.eot') format('embedded-opentype'),
         url('/extension/shafie/design/shafie/fonts/helveticaneueltstd-bdcn.woff') format('woff'),
         url('/extension/shafie/design/shafie/fonts/helveticaneueltstd-bdcn.ttf') format('truetype'),
         url('/extension/shafie/design/shafie/fonts/helveticaneueltstd-bdcn.svg#HelveticaNeueLTStd77BoldCondensed') format('svg');
}
@font-face {
    font-family: 'LucidaTypewriterStdRegular';
    src: url('/extension/shafie/design/shafie/fonts/lucidatypewriterstd.eot');
    src: url('/extension/shafie/design/shafie/fonts/lucidatypewriterstd.eot') format('embedded-opentype'),
         url('/extension/shafie/design/shafie/fonts/lucidatypewriterstd.woff') format('woff'),
         url('/extension/shafie/design/shafie/fonts/lucidatypewriterstd.ttf') format('truetype'),
         url('/extension/shafie/design/shafie/fonts/lucidatypewriterstd.svg#LucidaTypewriterStdRegular') format('svg');
}

#responsiveLayout {
	.set(@availableW) {
		#body{
			width:@availableW;
		}
		#head-photo {
			width:@availableW;
		}
		

	}
	
}
#responsiveLayout > .set(1024px);

.content_header_h1(@margin_top) {
	#content_header h1 {
		margin-top:@margin_top;
		
		
	}
}
#mobile_menu_icon {
	display:none;
	float:right;
}
#content_header h1 {
  font-family: HelveticaNeueLTStd77BoldCondensed, Helvetica, Arial;
  
  font-size:50px;
  text-transform: capitalize;
  margin:55px 0 -6px 0;
  
  line-height: 50px;
}
#content_header h3 {
  font-family: Helvetica, Arial;
  margin:0;
  font-weight: lighter;
}




body {
  margin:0;
  padding:0;
  background:url(/extension/shafie/design/shafie/images/background.jpg);
  font-family: Helvetical, Arial;
  
}

img {
    border:0;
}
a {
    color:#000;
    text-decoration: none;
    
}
a:hover {
    color:#00d8ff;
    text-decoration: none;
    
}

p {
    margin:0 0 10px 0;
}
ul {
    margin:0;
    padding:0;
}
#body {
  
  
  margin:0 auto;
  font-family: LucidaTypewriterStdRegular, Helvetical, Arial;
  color:#3a3a3a;
  font-size:12px;
  line-height: 18px;
  overflow:hidden;
}




#head-photo {
  border:#000 solid 6px;
}
#menu-list li ul.submenu li.submenu_item {
    float:none;
    background:#000;
    
    
    color:#fff;
    
}

#menu-list li ul.submenu li.selected_submenu_item, #menu-list li ul.submenu li.submenu_item a:hover {
    color:#00d8ff;
}



#menu-list {
  margin:45px 0 0 0;
  padding:0;
}
#menu-list li {
  float:left;
  list-style:none;
  width:204px;
  text-align: center;
  color:#000;
}
#menu-list li:hover {
  background:#000;
  color:#fff;
}
#menu-list li a {
  display:block;
  line-height: 38px;
  height: 38px;
  font-size:16px;
  
}
.article-body {
  text-align:justify;
 
}
.column_body {
    column-count: 2;
	column-gap: 20px;
	-moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
}
#article-title-bar {
  
  /*background:#000;*/
  color:#fff;
  line-height: 38px;
  font-size:13px;
  padding-left:20px;
  margin-bottom:20px;
  background:url(/extension/shafie/design/shafie/images/menu_background.jpg) no-repeat right bottom #000;
}
#home-bottom-image {
    margin:0 auto;
}
#home-bottom-container {
    text-align: center;
    margin-bottom:10px;
}
ul#menu-list li.selected_menu {
    background:#000;
    color:#fff;
}
ul#menu-list li.selected_menu a{
    background:#000;
    
}
ul#menu-list li a {
  display:block;
  text-decoration:none;
  color: inherit;
  
}
#footer {
   border-top:1px solid #999;
   height:118px;
   position:relative;
}
#copyright {
   position:absolute;
   font-family:Helvetica, Arial;
   font-size:11px;
   top:5px;
}
#home-bottom-container-text {
    text-align:center;
    font-size: 28px;
    font-family: Helvetica, Arial;
    font-weight: lighter;
    margin-top:53px;
    margin-bottom:10px;
    line-height: 34px;
}
#home-bottom-imge-container {
    text-align: center;
    margin-top:20px;
}
#subitems li {
    float:left;
    list-style:none;
    padding-right:20px;
}
#subitems li a {
    color:#3a3a3a;
}
#subitems {
    margin:0;
    padding:0;
}
#page_sub_menu {
	padding-right:30px;

	margin-bottom:0;

}


#page_sub_menu li {
    float:left;
    list-style: none;
    padding-right: 20px;
}
#page_sub_menu li a{
   color:#fff;
  text-decoration: none;
}
#page_sub_menu li.selectede_subitem a, #page_sub_menu li a:hover {
    color:#00d8ff;
}
.gallery_item {
    float:left;
    display:block;
    width:200px;
    height:200px;
    overflow:hidden;
    
    
}
.gallery_teaser_margin {
    margin-right:6px;
}
.gallery_teaser_table {
    width:300px;
    height: 300px;
    overflow: hidden;
    margin-left:-50px;
}
.gallery_teaser_cell {
    display:table-cell;
    width:100%;
    overflow:hidden;
    text-align:center
}


.pagenavigator {
    position: relative;
    height:30px;
}
.next {
    display:block;
    float:right;
}
.previous {
    display:block;
    float:left;
}
.menu_item_margin_right {
    margin-right:1px;
}
.submenu {
    display:none;
    visibility:hidden;
    position:absolute;
    z-index: 100;
}
#quote_author {
    font-size:13px;
}
.embedded_movie_container {
    width: 496px;
    float:left;
}
.movie_embed {
	width:496px;
}
.movie_descitption_container {
    
    float:right;
    width: 496px;
}
.movie_descitption_container h4 {
   margin:0 0 10px 0;
   font-size: 20px;
}
.movie_content h2 {
    margin-bottom:10px;
    
}
.movie_teaser_container {
  margin-top:20px;
}
.small_movie_picture {
  float:left;
  width:98px;
  height: 98px;
  overflow:hidden;
  margin-right:1px;
  margin-bottom:1px;
}
.movie-ext-information h4 {
    margin:30px 0 0 0;
    font-size: 12px;
}

.movie-ext-information a , .movie-ext-information a:visited{
    color:#000;
    text-decoration: none;
    
}
.movie-ext-information a:hover {
    color:#00d8ff;
    text-decoration: none;
}
.movie_project_bottom {
    height:40px;
}
.irgendwas {
	color:#fff;
}

.embedded_movie_container .shafie_image {
	width:100%;
	height:100%;
}
.movie_placeholder_class {
	width: 496px;
	height:350px;
	display:none;
	
}
.gallerie_teaser_image {
	
	width: 100%;
}


#cboxTopLeft, #cboxTopRight,#cboxBottomLeft,#cboxBottomRight, #cboxMiddleLeft, #cboxMiddleRight, #cboxTopCenter, #cboxBottomCenter {
	visibility:hidden;
}
#cboxContent {
	color:#fff;
}
@xs-width: 299px;
@media (max-width: 599px) {
	#responsiveLayout > .set(@xs-width);
	.content_header_h1(10px);
	#menu-list {
		display:none;
	}
	#content_header h1 {
		font-size: 30px;
		line-height: 32px;
	}
	#content_header h3 {
		font-size:18px;
	}
	#mobile_menu_icon {
		display:block;
		
	}
	#menu-list , #menu-list li, #menu-list li ul.submenu , #menu-list li ul.submenu li.submenu_item{
		width: 100%;
	}
	#menu-list {
		margin-top:8px;
	}
	#menu-list li {
		background:rgba(100,100,100,0.2);
		border-bottom:1px solid #000;
	}
	.submenu {
		position:relative;
		z-index: 0;
	}
	.embedded_movie_container, .movie_descitption_container {
		float:none;
		width:100%;
	}
	#body h2 {
		font-size:17px;
	}
	#home-bottom-container-text {
		font-size:18px;
	}
	@gallery_teaser_size: 59px;
	@gallery_teaser_outer: 80px;
	.gallery_item {
    
		height: @gallery_teaser_size;
 		width: @gallery_teaser_size;
	}
	.gallery_teaser_table {
		width: @gallery_teaser_outer;
		
		margin-left:-10px;
	}
	
	.gallery_teaser_margin {
		margin-right:1px;
		margin-bottom:1px;
	}
	.movie_placeholder_class {
		width: 100%;
		height:200px;
	}
	.movie_project_bottom {
		height:2px;
	}
	.home-bottom-container-text {
		margin-top:3px;
	}
	.movie_descitption_container h4 {
		font-size:13px;
	}
	.column_body {
	    column-count: 1;
		column-gap: 20px;
		-moz-column-count: 1;
		-moz-column-gap: 20px;
		-webkit-column-count: 1;
		-webkit-column-gap: 20px;	
	}
	.article-body {
		text-align: left;
 
	}
}
@sm-width: 589px;
@media (min-width: 600px) and (max-width: 767px) {
	#responsiveLayout > .set(@sm-width);
	.content_header_h1(30px);
	#menu-list {
		display:none;
	}
	#mobile_menu_icon {
		display:block;
		
	}
	#menu-list , #menu-list li{
		width: 100%;
	}
	#menu-list {
		margin-top:8px;
	}
	#menu-list li {
		background:rgba(100,100,100,0.2);
		border-bottom:1px solid #000;
	}
	.embedded_movie_container, .movie_descitption_container {
		float:none;
		width:100%;
	}
	.small_movie_picture {
		width:117px;
		height:117px;
	}
	.movie_teaser_container {
		width: 590px;
	}
	.movie_placeholder_class {
		width: @sm-width;
		height:400px;
	}
	#body h2 {
		font-size:20px;
	}
	@gallery_teaser_size: 114px;
	@gallery_teaser_outer: 203px;
	@gallery_teaser_margin: 4px;
	.gallery_item {
    
		height: @gallery_teaser_size;
 		width: @gallery_teaser_size;
	}
	.gallery_teaser_table {
		width: @gallery_teaser_outer;
		height: @gallery_teaser_outer;
		margin-left:-27px;
	}
	
	.gallery_teaser_margin {
		margin-right:@gallery_teaser_margin;
		margin-bottom:@gallery_teaser_margin;
	}
	.movie_project_bottom {
		height:2px;
	}
	.home-bottom-container-text {
		margin-top:3px;
	}
	
}
@md-width: 764px;
@md-left-width: 350px;
@media (min-width: 768px) and (max-width: 1023px) {
	#responsiveLayout > .set(@md-width);
	#body h2 {
		font-size:18px;
	}
	.embedded_movie_container, .movie_descitption_container , .movie_embed,
	.movie_teaser_container, .movie_element{
		
		width:@md-left-width;
	}
	#menu-list li {
		width: 152px;
	}
	#menu-list {
		margin-top:20px;
	}
	.small_movie_picture {
		width:86px;
		height:86px;
	}
	.movie_placeholder_class {
		width: @md-left-width;
		height:300px;
	}
	
	@gallery_teaser_size: 149px;
	@gallery_teaser_outer: 203px;
	@gallery_teaser_margin: 4px;
	.gallery_item {
    
		height: @gallery_teaser_size;
 		width: @gallery_teaser_size;
	}
	.gallery_teaser_table {
		width: @gallery_teaser_outer;
		height: @gallery_teaser_outer;
		margin-left:-27px;
	}
	
	.gallery_teaser_margin {
		margin-right:@gallery_teaser_margin;
		margin-bottom:@gallery_teaser_margin;
	}
	.movie_project_bottom {
		height:2px;
	}
	.home-bottom-container-text {
		margin-top:13px;
	}
}

@media (min-width: 1024px) {
	#responsiveLayout > .set(1024px);
	@gallery_teaser_size: 200px;
	@gallery_teaser_outer: 300px;
	@gallery_teaser_margin: 6px;
	.gallery_item {
    
		height: @gallery_teaser_size;
 		width: @gallery_teaser_size;
	}
	.gallery_teaser_table {
		width: @gallery_teaser_outer;
		height: @gallery_teaser_outer;
		margin-left:-50px;
	}
	
	.gallery_teaser_margin {
		margin-right:@gallery_teaser_margin;
		margin-bottom:@gallery_teaser_margin;
	}
}


