
  

  <div>

  {def $movie_projects = fetch('content', 'list', hash('parent_node_id', $node.node_id,
                                                   'class_filter_array', array('movie_project'),
                                                   'class_filter_type', 'include',
                                                   'sort_by', $node.sort_array))}
  
  {foreach $movie_projects as $movie}
     {node_view_gui content_node=$movie view="full"}
  {/foreach}
  
</div>
  

  <div id="home-bottom-container">
   
    <div id="home-bottom-container-text">
   {attribute_view_gui attribute=$node.data_map.intro}
    <div id="quote_author">{attribute_view_gui attribute=$node.data_map.quote_author}</div>
    </div>
   
    
  </div>
  
  <div class="apple_overlay" id="gi">
  <!-- the external content is loaded inside this tag -->
    
        <div class="close"> </div>
	<img src="/extension/shafie/design/shafie/images/white.png" id="gallery_overlay" style="padding-bottom:-5px;" /></div> 



<style type="text/css">
     {literal}
     
     /* the overlayed element */
#gi {
 
    /* must be initially hidden */
    display:none;
 
    /* place overlay on top of other elements */
    z-index:10000;
 
    /* styling */
   
 
    
    
 
    /* CSS3 styling for latest browsers */
    -moz-box-shadow:0 0 90px 5px #000;
    -webkit-box-shadow: 0 0 90px #000;
   
}
 
/* close button positioned on upper right corner */
#gi .close {
    background-image:url(/extension/shafie/design/shafie/images/close.png);
    position:absolute;
    right:-15px;
    top:-15px;
    cursor:pointer;
    height:35px;
    width:35px;
}
  

  {/literal}
     
</style>



