

{def $page_limit = 5
     $index = 0
     $counter = 0
     
     $images_count = fetch('content', 'list_count', hash('parent_node_id', $node.node_id,
                                          'class_filter_array', array('images'),
                                           'class_filtet_type', 'include'))
     
     
     $images = fetch('content', 'list', hash('parent_node_id', $node.node_id,
                                          
                                          'class_filter_array', array('images'),
                                           'class_filtet_type', 'include',
                                           'sort_by', $node.sort_array))
     }


{*include name=navigator
					 uri='design:navigator/google.tpl'
					 page_uri=$node.url_alias
					 item_count=$images_count
					 view_parameters=$view_parameters
					 item_limit=$page_limit*}
					 
					 
					 
					 
                                         
<div id="gallery_teaser_container">  
    {foreach $images as $img}
      
    <a class="gallery_item{if not(eq($index, 4))} gallery_teaser_margin{/if}" href={$img.data_map.image.content.galleryfull.url|ezroot} rel="#gi" title="{$img.name|wash}">
      <input type="hidden" name="image_width" value="{$img.data_map.image.content.galleryfull.width}" class="image_width" />
      <input type="hidden" name="image_height" value="{$img.data_map.image.content.galleryfull.height}" class="image_height" />
      <div class="gallery_teaser_table">
		  <div class="gallery_teaser_cell">
			   <img src={$img.data_map.image.content.gallery_teaser.url|ezroot} class="gallerie_teaser_image"/>
		  </div>
	  </div>
     
    </a>
    
      
    
    
    
      {set $index = $index|inc}
      
      {if eq($index, 5)}
       
      {/if}
      
      {set $index = $index|mod(5)
           $counter = $counter|inc}
	   
	   
	   
    {/foreach}
    <div style="clear:both;"></div>
    
 

    
</div>
 <div class="apple_overlay" id="gi">
  <!-- the external content is loaded inside this tag -->
    
        <div class="close"> </div>
	<img src="/extension/shafie/design/shafie/images/white.png" id="gallery_overlay" style="padding-bottom:-5px;" /></div> 

<script type="text/javascript" >
     {literal}
     
$(document).ready(function() {

	$('a.gallery_item').swipebox({rel:'#gi', hideBarsDelay : 0});
});
     
     
     {/literal}
</script>

<style type="text/css">
     {literal}
     
     /* the overlayed element */
#gi {
 
    /* must be initially hidden */
    display:none;
 
    /* place overlay on top of other elements */
    z-index:10000;
 
    /* styling */
   
 
    
    
 
    /* CSS3 styling for latest browsers */
    -moz-box-shadow:0 0 90px 5px #000;
    -webkit-box-shadow: 0 0 90px #000;
   
}
 
/* close button positioned on upper right corner */
#gi .close {
    background-image:url(/extension/shafie/design/shafie/images/close.png);
    position:absolute;
    right:-15px;
    top:-15px;
    cursor:pointer;
    height:35px;
    width:35px;
}
  

  {/literal}
     
</style>



